.summary {
  font-family: var(--font-family-hanken-grotesk);
  padding: 1.5rem 2rem 2rem;
  width: 100%;
}

.title {
  font-family: var(--font-family-hanken-grotesk);
  font-size: 1.12rem;
  font-weight: 700;
  text-transform: capitalize;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
}

@media screen and (min-width: 767px) {
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 2.5rem;
    padding-inline: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .skills {
    padding: 0;
  }
}
