.results {
  display: flex;
  flex-direction: column;
  font-family: var(--font-result-summary);
  height: 100%;
  width: 100%;
}

.page {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100vw;
}

@media screen and (min-width: 767px) {
  .page {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 28px;
    padding-top: 28px;
  }

  .results {
    border-radius: 2rem;
    box-shadow: 0 20px 40px 10px var(--pale-blue);
    flex-direction: row;
    height: auto;
    min-height: 512px;
    max-width: 736px;
    width: 100%;
  }

  .results > * {
    max-width: 50%;
  }
}
