.buttonActive .topBar {
    -webkit-transform: translateY(5px) rotateZ(45deg);
    -moz-transform: translateY(5px) rotateZ(45deg);
    -ms-transform: translateY(5px) rotateZ(45deg);
    -o-transform: translateY(5px) rotateZ(45deg);
    transform: translateY(5px) rotateZ(45deg);
}

.buttonActive .middleBar {
    width: 0;
}

.buttonActive .bottomBar {
    -webkit-transform: translateY(-5px) rotateZ(-45deg);
    -moz-transform: translateY(-5px) rotateZ(-45deg);
    -ms-transform: translateY(-5px) rotateZ(-45deg);
    -o-transform: translateY(-5px) rotateZ(-45deg);
    transform: translateY(-5px) rotateZ(-45deg);
}
